*{
    font-family: 'Poppins', sans serif;
}
body{
    background-image: url("images/abstract-financial-graph-uptrend-line-260nw-1534094558.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
span{
    color: #000000;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #000000;
    font-size: 30px;
    display: flex;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input{
    height: 45px;
    margin: 7px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #000000;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color:#000000;
}
::-webkit-input-placeholder{
    color: #000000;
}
.submit{
    border: none;
    margin: 7px;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 110%;
    background: rgb(255,255,255,0.7);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #000000;
    margin-top: 10px;
}
.left{
    display: flex;
}
label a{
    color: #000000;
    text-decoration: none;
}
buttons{

}


4 <img src="images/litecoin2.png" width="50" height="40" align="middle" /> 

3 <p><img src="images/dogecoin.png" width="55" height="40" align="middle" /> 

2 <p><img src="images/ethereum.png" width="50" height="40" align="middle" /> 

1 <p><img src="images/bitcoin.png" width="50" height="38" align="middle" /> 

<div class = "box4">
    <div class="crypto">
    <ul>
        <p>
        usd : 100 </p>
    </ul>
</div>
</div>


<div class = "box2">
    <div class="crypto">
    <ul>
        
        usd : 1000 </p>
    </ul>
</div>
</div>